.header {
    background-color: #e17afa; /* Blue background color */
    color: #fff; /* White text color */
    padding: 20px;
    text-align: center;

    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
}
  
.header-title {
    font-size: 50px;
    width: 100%;
    border-bottom: 5px solid white;
    line-height: 0.1em;
    margin: 10px 0 20px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.header-title span {
    background: #e17afa;
    padding: 0 10px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;

}

.header-image-home {
    width: 100%; /* Set the width of the image to 50% of its parent container */
    height: auto;
}

.header-image {
    width: 75%; 
    height: auto;
}

.icon {
    width: 5%; 
    height: auto;
}

.character {
    width: 80%;
    height: auto;
}

.wrapper{
    display:inline-block;
    max-width: 115px;
    max-height: 130px;
    padding: 1%;
    
}

.characterCard{
    width: 130px;
    height: 130px;
    
    cursor: url("../../public/mousePointer.png"),  auto;
    
}


.characterCard:hover{
    /* cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto; */
    width:140px;
    height:140px;
    cursor:url("../../public/mouseHover.png"),  auto;
}




.characterCardMakeSmaller {
    width: 17%;
    height: auto;
}

.characterCardMakeBigger {
    width: 20%;
    height: auto;
}
